---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/products/Hero.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import ProductsComponent from "../components/products/ProductsComponent.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <Hero />
      <ProductsComponent />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>
